#sectionFormulario {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;      /* centraliza vertical */
    justify-content: center;  /* centraliza horizontal */
    background-image: url(./assets/bglogin.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.containerLogin {
    background-color: rgba(255, 255, 255, 0.623);
    width: 70%;
    height: 60%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 50px 30px rgba(0, 0, 0, 0.514);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    display: flex;
}
.contentLogin {
    text-align: center;
    width: 30%;
}
.contentLogin img {
    width: 100%;
}
.contentLogin p {
    font-size: 1em;
}
#LinkRegister {
    text-decoration: underline;
    color: #007BFF;
    font-weight: bold;
}
.formLogin{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formLogin h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
.formLogin input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #ccc;
}
.formLogin .btnLogin {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
}
@media (max-width: 768px) {
    .containerLogin {
        flex-direction: column;
        height: auto;
        width: 90%;
    }
    .contentLogin, .formLogin {
        width: 100%;
    }
    .formLogin input {
        width: 100%;
    }
    .formLogin .btnLogin {
        width: 100%;
    }
}