@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
a {
    text-decoration: none;
    color: inherit;
}
.headerHome 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#LogoHeader
{
    margin-left: 20px;
    height: 30px;
    cursor: pointer;
}
#navHeaderHome a
{
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#BtnGratis
{
    padding: 8px 16px;
    background-color: #007bff;
    color: white !important;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#navHeaderHome a:hover
{
    color: #007bff;
}
@media (max-width: 600px) 
{
    .headerHome 
    {
        flex-direction: column;
        align-items: flex-start;
    }
    #LogoHeader 
    {
        margin-bottom: 10px;
    }
    #navHeaderHome a 
    {
        margin-right: 10px;
        font-size: 10px;
    }
}
.sectionHome
{
    display: flex;
    margin-top: calc(headerHome height + 20px);
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px;
    width: 80%;
    margin-left: 10%;
}
.typewriter {
    font-family: 'BBH Sans Bogle', sans-serif;
    font-size: 45px; 
    white-space: nowrap;
}
.contentHome
{
    padding: 50px;
    width: 40%;
}
.contentHome p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 20px 0;
}
#BtnTesteGratis {
    width: 150px;
    background-color: #007bff;
    color: white !important;
    border: none;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#BtnTesteGratis:hover{
    background-color: #0056b3;
    color: white !important;
    text-decoration: none;
}
.imageHome
{
    padding-top: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clientes-marquee {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}

.marquee-content {
    display: flex;
    gap: 40px;
    animation: marquee 15s linear infinite;
}

.marquee-content img {
    height: 30px;
    object-fit: contain;
}
.imageHome img {
    width: 80%;
    animation: girar 15s linear infinite;
}

@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
@media (max-width: 800px) {
    .sectionHome {
        flex-direction: column;
        padding: 20px 5px;
        padding-top: 150px;
    }
    .typewriter {
        font-size: 18px;
    }
    .contentHome, .imageHome {
        width: 90%;
        padding: 10px 0;
    }
    .imageHome img {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .marquee-content img {
        height: 30px;
    }
    .imageHome img {
    width: 100%;
    }
}

.sectionHomeAgendamento 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px ;
}
.ImgAgenda 
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ImgAgenda img 
{
    width: 80%;
}

.textAgenda {
    width: 50%;
    padding: 0 20px;
}
.textAgenda h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}

.textAgenda p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;    
}
@media (max-width: 800px) {
    .sectionHomeAgendamento {
        flex-direction: column;
        padding: 20px 5px;
    }
    .ImgAgenda, .textAgenda {
        width: 90%;
        padding: 10px 0;
    }
    .ImgAgenda img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .textAgenda h2 {
        font-size: 22px;
    }
    .textAgenda p {
        font-size: 16px;
    }
}
.depoimentos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}
.ContainerDepoimento {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 1000%; 
}
.textDepoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0 20px;
}
.textDepoimentos h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}
.textDepoimentos p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;    
}   
.imageDepoimentos {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageDepoimentos img {
    width: 100%;
}
@media (max-width: 800px) {
    .depoimentos {
        padding: 20px 5px;/* para header fixo */
    }
    .ContainerDepoimento {
        width: 100%;
    }
    .textDepoimentos, .imageDepoimentos {
        width: 90%;
        padding: 10px 0;
    }
    .textDepoimentos h2 {
        font-size: 22px;
    }
    .textDepoimentos p {
        font-size: 16px;
    }
    .imageDepoimentos img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
}

.sectionApllicarion {
    display: flex;
    width: 100%; 
}
.containerApllication {
    width: 80%;
}
.textApllication {
    padding-top: 80px;
    width: 50%;
    margin-left: 25%;
}
.textApllication h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}
.textApllication p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;    
}
.buttonsLojasApp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.BtnLoja {
    width: 50%;
}
.imgButtonAplicatiion {
    width: 100px;
}
.imgAplication {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgAplication img {
    width: 50%;
}
@media (max-width: 800px) {
    .sectionApllicarion {
        flex-direction:  column-reverse;
        padding: 20px 5px;
    }
    .containerApllication {
        width: 100%;
    }
    .textApllication, .imgAplication {
        width: 90%;
        margin-left: 5%;
    }
    .textApllication h2 {
        font-size: 22px;
    }
    .textApllication p {
        font-size: 16px;
    }
    .buttonsLojasApp {
        flex-direction: column;
        align-items: center;
    }
    .BtnLoja {
        width: 80%;
        margin-bottom: 10px;
        margin-bottom: 20px;
    }
    .imgButtonAplicatiion {
        width: 120px;
    }
    .imgAplication img {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
}
.sectionsuporte{
    display: flex;
    width: 100%;    
}
.containerSuporte {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textSuporte {
    width: 40%;
    padding: 20px;
}
.textSuporte h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}
.textSuporte p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;    
}
.imageSuporte {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageSuporte img {
    width: 80%;
}
@media (max-width: 800px) {
    .containerSuporte {
        flex-direction: column;
        padding: 20px 5px;
    }
    .textSuporte, .imageSuporte {
        width: 90%;
        padding: 10px 0;
    }
    .textSuporte h2 {
        font-size: 22px;
    }
    .textSuporte p {
        font-size: 16px;
    }
    .imageSuporte img {
        padding-top: 50px;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
}
.footerHome {
    background-color: #105f91;
    text-align: center;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
}
#LogoFooter {
    height: 50px;
    margin-bottom: 10px;
}
.footerContent {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}
.footerContent p {
    margin: 0;
    font-size: 14px;
    color: #000000;
}
.footerSection h3{
    margin-bottom: 10px;
}
.footerSection p{
    font-size: 15px;
    color: #3b3c3d;
}
.footerSection ul{
    list-style: none;
    padding: 0;
}
.footerSection ul li{
    margin: 5px 0;
}
@media (max-width: 800px) {
    .footerContent {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footerSection {
        margin-bottom: 20px;
    }
}