#analiseLiberacaoCliente {
    padding-top: 50px;
}
#containerAnaliseLiberacaoCliente {
    width: 100%;
    margin-left: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contentpublicationAnalise {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(182, 182, 182, 0.836);
    flex: 1 1 calc(33.333% - 40px); /* três colunas menos gap total */
    max-width: calc(33.333% - 40px);
    min-width: 280px;               /* impede ficar muito estreito */
    margin-bottom: 50px;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    
}
.dataContent {
    width: 100%;
    background-color: #007bff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
.txtDataContent {
    font-weight: 900;
}
.clietneFormato{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.coteudoArteCliente {
    background-color: azure;
    width: 100%;
    margin-left: 0%;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
}
.artCliente {
    height: 100%;
    width: 100%;
}
.areaLegendaNaliseCliente{
    width: 90%;
    margin-left: 5%;
    background-color: rgb(121, 118, 118);
    border-radius: 5px;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 10px;
}
.roteiroStoryCliente {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}.roteiroStoryCliente h3 {
    margin-bottom: 10px;
}
.SenMovie {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: aqua;
}
.BtnAprovaçãoAnbaliseCliente {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.BtnAprovaçãoAnbaliseCliente buttonn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #007bff;
    color: white;
}
.ajustecontent {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    display: none;
}
.txtAreaAjuste{
    width: 90%;
    margin-bottom: 10px;
    border: solid 1px red;
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
}
.txtAreaAjuste:hover{
    box-shadow: red 0px 0px 10px 0px;
}   
.solicitarAjuste {
    height: 40px;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #007bff;
}
.solicitarAjuste:hover{
    box-shadow: #007bff 0px 0px 10px 0px;
}
.areaLegenda  {
    text-align: center;
    word-wrap: break-word;   
}